.headerMenu {
  text-align: center; /* Centra el contenido horizontalmente */
  height: 60px;
  align-items: center; /* Centra verticalmente los elementos */
}

.region {
  list-style-type: none;
  padding: 0; /* Elimina el padding */
  margin: 0; /* Elimina el margen */
}

.region li {
  text-decoration: none;
  display: inline-block; /* Hace que los elementos li se comporten como elementos en línea */
  margin-right: 30px;
  margin-top: 10px; /* Ajusta el margen entre los elementos */
}

.region li:last-child {
  margin-right: 0; /* Elimina el margen del último elemento */
}
.region li a {
  text-decoration: none;
  color: inherit; /* Esto asegura que el color del texto sea el mismo que el color por defecto del enlace */
}
