@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
    base-palette: 7;
  }

/* @import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap'); */

nav{
    background-color: #5da889;
    display: flex;
    justify-content: space-between;
    text-decoration: none; 
    
}
.web-name{
    text-decoration: none;
}
a{
    display: flex;
    align-items: center;
    padding-right: 5px;
}
.header__logo {
    margin-top: -5px;
    padding-right: 10px;
    margin-bottom: -0px;
}
#Poketitle {
    font-family: 'Rocher', cursive;
    font-size: large;
    font-weight: 900;
    text-shadow: -15px 5px 20px #ced0d3;
    letter-spacing: 0.04em;
    text-align: center;
    text-decoration: none;
    color: #F9f1cc;
    text-shadow: 1px 1px 0px #2c2317, 
        2px 2px 0px #FFD662, 
        3px 3px 0px  #FF80BF, 
        4px 3px 0px #db8180, 
        5px 3px 0px #6868AC, 
        6px 3px 0px #e7edf7;
}

#navbarButton {
    appearance: none;
    background-color: #000000;
    border: 1px solid #1A1A1A;
    border-radius: 20px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    margin-left: 30px;
    min-height: 45px;
    min-width: auto;
    outline: none;
    padding: 1px 20px;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

#navbarButton:disabled {
  pointer-events: none;
}

#navbarButton:hover {
  box-shadow: rgba(27, 25, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#navbarButton:active {
  box-shadow: none;
  transform: translateY(0);
}

.secondButton {
    text-decoration: none;
    margin-right: 30px;
  }
  .dos{
    margin: 0;
    padding: 0;
  }
  button.user-btn {
    height: 60px;
    background: none;
  }
  .logouser-drop{
    display: flex;
  }